microservices/auth/.terraform
microservices/upload/.terraform
apigateway/.terraform
node_modules
microservices/terraform/.terraform
microservices/terraform/node_modules
microservices/upload/node_modules
microservices/.terraform
microservices/match/.terraform
microservices/messaging/.terraform
