microservices/auth/.terraform
microservices/upload/.terraform
microservices/user/.terraform
apigateway/.terraform
node_modules
microservices/terraform/.terraform
microservices/terraform/node_modules
microservices/upload/node_modules
microservices/.terraform
microservices/user/lambdas/node_modules
auth/.terraform
tests/.env
auth/lambdas/node_modules
microservices/messaging/.terraform
delete/.terraform
delete/lambdas/node_modules
microservices/match/.terraform
microservices/messaging/.terraform
