/* Light mode variables */
:root {
    --auth-header-color: #ff6631;
    --border-color: #8a8a8a;
    --box-shadow-color: rgb(106, 106, 106);
    --input-border-color: #201e1b6b;
    --input-focus-border-color: #ff6631;
    --label-color: #201e1b51;
    --label-focus-color: #201e1b;
    --button1-bg-color: #ff6631;
    --button1-hover-bg-color: #ff936ee3;
    --company-button-hover-bg-color: #dbdbdb;
    --anchor1-color: #ff6431e3;
    --anchor1-hover-color: #ff6431e3;
    --error-message-color: red;
    --auth-text-color: #201e1b6b;
    --button2-bg-color: #ff6431e3;
    --button2-border-color: #ff6431e3;;
    --button2-selected-bg-color: #ffcab8e3;
}

/* Dark mode variables */
body.dark-mode {
    --text-color: #eeeeee;
    --background-color: rgb(45, 45, 45);
    --header-logo-color: #eeeeee;
    --auth-header-color: #eeeeee;
    --border-color: #8a8a8a;
    --box-shadow-color: rgb(255, 255, 255);
    --input-border-color: #ccc;
    --input-focus-border-color: #cdceff;
    --label-color: #8a8a8a;
    --label-focus-color: #eeeeee;
    --button1-bg-color: rgb(150, 153, 255);
    --button1-hover-bg-color: #cdceff;
    --company-button-hover-bg-color: #555;
    --anchor1-color: #000dff;
    --anchor1-hover-color: #cdceff;
    --error-message-color: red;
    --forgot-password-anchor-color: #000dff;
    --auth-text-color: #eeeeee;
}

.auth-header-subtext {
    font-size: 2rem;
    font-family: Aeroport;
    font-weight: 600;
}

.auth-header {
    font-size: 96px;
    margin: 0px 0px 0px 0px;
    padding: 0 0;
    align-self: flex-start;
    color: var(--auth-header-color);
}

.auth-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    margin: 0 0;
    overflow-y: auto;
}

.auth-container {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.input-container {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 8px;
}

.form-inputs {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-inputs:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.input-container label {
    font-family: Aeroport;
    position: absolute;
    font-size: 16px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--label-color);
    transition: top 0.1s, font-size 0.1s, color 0.1s;
    pointer-events: none;
    z-index: 1;
}

.form-inputs:focus+label,
.form-inputs:not(:placeholder-shown)+label {
    top: -20%;
    font-size: 12px;
    color: var(--label-focus-color);
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button1 {
    width: 100%;
    margin: 8px 0px;
    padding: 12px 24px;
    font-size: 18px;
    color: #f7e7d6;
    background-color: var(--button1-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-out;
}

.button1:hover {
    background-color: var(--button1-hover-bg-color);
}

.alternate-auth-options {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 0px;
}

.company-button {
    position: relative; /* Necessary for positioning the ::after element */
    padding: 12px;
    width: 36px;
    height: 36px;
    border: 1px transparent;
    border-radius: 10000px;
    transition: background-color 0.3s ease-out, transform 0.2s ease-out;
}

.company-button:hover {
    transform: scale(1.1);
}

.company-button::after {
    content: attr(data-text);
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: 1; /* Ensure the tooltip is above other content */
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Smooth transition */
}

.company-button:hover::after {
    opacity: 1; /* Show on hover */
    transform: translateX(-50%) translateY(0); /* Slight upward movement */
}

.anchor1 {
    color: var(--anchor1-color);
    font-size: 12px;
}

.anchor1:hover {
    color: var(--anchor1-hover-color);
    text-decoration-line: none;
}

.auth-text {
    font-family: Aeroport;
    font-size: 12px;
    margin: 12px;
    color: var(--auth-text-color);
}

.button2 {
    width: 100%;
    margin: 8px;
    padding: 12px 24px;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--button2-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--button2-border-color);
    text-align: center;
}

.button2.selected {
    width: 100%;
    margin: 8px;
    padding: 12px 24px;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--button2-selected-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button2.hovered:not(.selected) {
    background-color: var(--button2-hover-bg-color);
    color: var(--text-color);
}
