@font-face {
  font-family: 'Bogam';
  src: url('./app/fonts/Bogam.ttf') format('truetype');
}

@font-face {
  font-family: 'Aeroport';
  src: url('./app/fonts/Aeroport.ttf') format('truetype');
}

@font-face {
    font-family: 'Cat';
    src: url('./app/fonts/cats.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Music';
  src: url('./app/fonts/music.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: 'Aeroport';
}