:root {
    --text-color: #201e1b;
    --primary: #ff6631;
    --primary-light: #fd885e;
    --secondary: #1c8e41;
    /* General */
    --background-color-dark: #f8cab2;
    --background-color-subtle: #f7e7d6;
    --dashboard-background: #ffffff;
    --button-bg-color: #ff6631;
    --button-hover-bg-color: #cdceff;
    /* Navbar */
    --navbar-background: #ffffff;
    --nav-button-background: #ffffff;
    --nav-button-hover: #e5e5e5;
    /* Profile */
    --profile-header-background: #ffffff;
    --profile-icon-box-shadow: rgba(0, 0, 0, 0.5);
    --profile-details-text-color: #555;
    --editprofile-button-hover: #ccc;
    --request-button-background: #007bff;
    --request-button-hover: #0056b3;
    --cancel-button: #ccc;
    --cancel-button-hover: #aaa;
    --save-button-hover: #0056b3;
    --save-button: #007bff;
    /* MyAccounts */
    --accounts-background: #ffffff;
    --modal-background: rgba(0, 0, 0, 0.4);
    --modal-content-background: #fefefe;
    --close-color: #aaa;
    --close-hover-color: black;
    --account-details-border: #ccc;
    /* Message */
    --message-background: #f5f5f5;
    --friend-list-background: #ffffff;
    --message-container-background: #000000;
    --message-box-background: #ffffff;
    --user-container-background: #ff0019;
    --message-content-background: #f1f1f1;
    --user-message-background: #dcf8c6;
    --message-text-color: #000000;
    --message-time-color: #888;
    --message-sender-color: #000000;
    --send-button-background: none;
    --send-button-color: #000000;
    /* Teachers */
    --teacher-card-background: #ffffff;
    --teacher-card-hover: scale(1.05);
    --teacher-rating-color: #f39c12;
    --request-container-border: #000000;
    --settings-background: #ffffff;
}

body.dark-mode {
    /* General */
    --background-color: #181818;
    --text-color: #ffffff;
    --dashboard-background: rgba(30, 30, 30);
    --button-bg-color: rgb(75, 78, 128);
    /* A darker shade of the light mode color */
    --button-hover-bg-color: #6e70b1;
    /* Nav */
    --navbar-background: rgba(30, 30, 30);
    --nav-button-background: #303030;
    --nav-button-hover: #505050;
    /* Profile */
    --profile-background: #181818;
    --profile-header-background: #242424;
    --profile-icon-box-shadow: rgba(255, 255, 255, 0.5);
    --profile-details-text-color: #bbb;
    --request-button-background: #1e90ff;
    --request-button-hover: #104e8b;
    --modal-background: rgba(255, 255, 255, 0.4);
    --modal-content-background: #333333;
    --close-color: #ddd;
    --close-hover-color: white;
    --account-details-border: #888;
    /* Message */
    --message-background: #2c2f33;
    --friend-list-background: #303030;
    --message-container-background: #333333;
    --message-box-background: #23272a;
    --user-container-background: #bb0000;
    --message-content-background: #444444;
    --user-message-background: #3a3a3a;
    --message-text-color: #ffffff;
    --message-time-color: #bbb;
    --message-sender-color: #ffffff;
    --send-button-background: none;
    --send-button-color: #ffffff;
    /* Teacher */
    --teacher-card-background: #303030;
    --teacher-card-hover: scale(1.05);
    --teacher-rating-color: #ffd700;
    --request-container-border: #ffffff;
    --settings-background: rgba(30, 30, 30);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-subtle);
    font-family: Aeroport;
}

.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
    overflow-y: auto;
}

.dashboard {
    width: 100%;
    flex-grow: 1;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-family: 'Aeroport';
    background-color: var(--primary);
    color: var(--background-color-subtle);
}

.title-pill {
    border-radius: 4rem;
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    background-color: var(--secondary);
    color: var(--background-color);
    font-family: 'Aeroport';
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.title-pill:hover {
    scale: 1.03;
    transition: all 0.2s;
}

.welcome-section {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

.content-section {
    display: flex;
    gap: 2rem;
    margin-bottom: 20px;
}

.text-box,
.quote-box {
    max-width: 300px;
    padding: 3rem;
    border-radius: 2rem;
    border: 1rem solid var(--background-color-dark);
    text-align: center;
}

.text-box {
    background-color: var(--background-color-subtle);
    color: var(--primary);
}

.quote-box {
    background-color: var(--primary-light);
}

.die {
    font-size: 10rem;
}


.text-box h2,
.quote-box h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.text-box p,
.quote-box p {
    font-size: 1.2em;
    color: var(--text-color);
}

.button-section {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.betton {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.betton {
    background-color: #007BFF;
    color: white;
}

.footer-section {
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    padding: 1rem 0;
    font-size: 0.9em;
    border-top: 1px solid var(--text-color);
    color: var(--text-color);
}

/* Nav Bar */
.navbar {
    max-height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--nav-button-background);
    color: var(--text-color);
    margin: 0 24px;
    padding: 8px;
}

.nav-button:hover {
    background-color: var(--nav-button-hover);
}

.website-logo {
    font-family: 'Bogam';
    font-size: 45px;
    color: var(--primary);
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
}

.nav-button-text {
    font-size: 16px;
    color: var(--text-color);
}

.nav-options {
    display: flex;
    align-items: center;
    transition: max-height 0.3s ease;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .nav-options {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: var(--navbar-background);
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
    }

    .nav-options.open {
        max-height: 300px;
        border-bottom: 1px solid var(--nav-button-background);
    }

    .nav-button {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
    }
}

/* My Accounts */
.my-accounts {
    width: 100vw;
    height: 100vh;
    background-color: var(--accounts-background);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background);
}

.modal-content {
    background-color: var(--modal-content-background);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: var(--close-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--close-hover-color);
    text-decoration: none;
    cursor: pointer;
}

.account-details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--account-details-border);
}


/* edit profile styles
.edit-profile {
    width: 100vw;
    height: 100vh;
    background-color: var(--profile-background);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.profile-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image-container {
    position: relative;
    cursor: pointer;
}

.profile-icon {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.profile-image-container:hover .profile-image-overlay {
    opacity: 1;
}

.camera-icon {
    width: 40px;
    height: 40px;
}

.profile-image-input {
    display: none;
}

.profile-content {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.cancel-button,
.save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: var(--cancel-button)
}

.save-button {
    background-color: var(--save-button);
    color: var(--text-color);
}

.cancel-button:hover {
    background-color: var(--cancel-button-hover);
}

.save-button:hover {
    background-color: var(--save-button-hover);
} */

/* teacher styles */
.teacher-container,
.student-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Headers */
.teacher-header,
.student-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Teachers List */
.teachers-list,
.student-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Teacher Card */
.teacher-card,
.student-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    padding: 4px;
    height: auto;
    overflow-y: auto;
    overflow: hidden;
}

.teacher-card:hover,
.student-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Teacher Ad */
.teacher-ad,
.student-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
}

.teacher-ad img,
.student-ad img {
    width: 50%;
    height: auto;
}

/* Teacher Details */
.teacher-detail,
.student-detail {
    padding: 15px;
    text-align: center;
}

.teacher-pfp,
.student-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teacher-name,
.teacher-aboutme,
.teacher-rating,
.student-name,
.student-aboutme {
    margin: 5px 0;
}

.teacher-name,
.student-name {
    font-size: 18px;
    font-weight: bold;
}

.teacher-aboutme,
.student-aboutme {
    font-size: 14px;
    color: #666;
}

.teacher-rating {
    font-size: 14px;
    color: #333;
}

/* request styles */
.all-requests {
    font-family: Aeroport;
}

.request-container {
    font-family: Aeroport;
    background: var(--primary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.pfp-name-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notifications-title {
    font-size: 6rem;
    color: var(--secondary)
}


.my-teachers {
    width: 100vw;
    height: 100vh;
    background-color: var(--settings-background);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}